.font-weight-bold {
  font-weight: bold !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

a:hover,
a:active {
  color: lightskyblue;
}

a:link,
a:visited {
  color: black;
}
